@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Rubik:wght@500&family=Seymour+One&display=swap');
.App {
  text-align: center;
  background: url("../assets/mobBack.png") no-repeat;
  background-size: cover;
  height : 100vh;
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: 1;
  justify-items: center;
}
@media screen and (max-width: 320px) {
  .App{
    background: url("../assets/mobBack.png") no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 988px) {
  .App{
    background: url("../assets/tablet.png") no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1220px) {
  .App{
    background: url("../assets/pc.png") no-repeat;
    background-size: cover;
  }
}
.button{
  background-color: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 100px;
  width: 207px;
  height: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  position:absolute;
  top: 344px; 
}
.button:hover{
  background-color: white;
  border: 3px solid white;
  color:#000000;
  cursor:pointer;
}

.header{
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  width: 260px;
  position:absolute;
  top:172px;
}
@media screen and (max-width: 320px) {
  .header{
    font-size: 38px;
    line-height: 44px;
    width: 260px;
    top:172px;
    position:absolute;
  }
  .button{
    position:absolute;
    top: 344px; 
  }
}
@media screen and (min-width: 988px) {
  .header{
    font-size: 68px;
    line-height: 83px;
    width: 842px;
    top:414px;
    position:absolute;
  }
  .button{
    position:absolute;
    top: 660px; 
  }
}
@media screen and (min-width: 1220px) {
  .header{
    font-size: 78px;
    line-height: 83px;
    width: 965px;
    top:359px;
    position:absolute;
   
  }
  .button{
    position:absolute;
    top: 605px; 
  }
}


